<!DOCTYPE html>
<html lang="en" ng-app="trendyShoesApp">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style-trendy.css" />
    <link rel="stylesheet" href="/css/theme.css" />
    <link rel="stylesheet" href="/css/backToTopButton.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  </head>
  <body ng-controller="TrendyShoesController">
    <!-- TOMBOL Back to Top -->
    <button id="backToTopBtn" class="back-to-top">
      <img
        src="/assets/images/green-up.png"
        alt="Back to Top"
        id="backToTopImg"
      />
    </button>

    <!-- TOMBOL Favorite -->
    <div class="fixed-heart-button" ng-click="togglePopup()">
      <i class="fa fa-heart" aria-hidden="true"></i>
    </div>
    <div class="favorite-popup" id="favoritePopup" ng-show="showPopup">
      <h3 id="popup-title">Your Favorite</h3>
      <span id="close-popup" class="close-popup-btn" ng-click="closePopup()">&times;</span>
      <div class="favorite-list">
        <div ng-repeat="shoe in favoriteShoes" class="favorite-item">
          <img ng-src="{{shoe.img}}" alt="{{shoe.name}}"/>
          <p>{{shoe.name}}</p>
        </div>
      </div>
    </div>

    <!-- Favorite END -->

    <nav id="navbar">
      <input type="checkbox" id="check" />

      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>

      <a href="/" id="logo"
        ><img src="/assets/images/logo.png" alt="FitSteps Logo"
      /></a>

      <div class="navbar-biasa">
        <a href="/">Home</a>
        <a href="/fit-share">Fit Share</a>
        <a href="/trendy-shoes">Trendy Shoes</a>
        <a href="/health-benefits">Health Benefits</a>
        <a href="/contact-us">Contact Us</a>
        <a href="/events">Upcoming Events</a>

        <% if (loggedIn) { %>
        <a href="/profile">Profile</a>
        <a href="/logout">Logout</a>
        <% } else { %>
        <a href="/login">Login</a>
        <a href="/signup">Daftar</a>
        <% } %>

        <!-- Tombol Mode Terang/Gelap -->
        <button id="themeToggleBtn" class="theme-toggle-btn">🌙</button>
      </div>

      <a href="/" id="moto"
        ><img src="/assets/images/moto.png" alt="FitSteps Moto"
      /></a>
    </nav>

    <section id="hero">
      <h1>Fit Your Style, Step Ahead</h1>
      <h2>The Perfect Blend of Fitness and Fashion</h2>
      <p>Stay on-trend while you conquer your fitness goals</p>
      <p>
        Discover your unique style with our selection of the Top 5 Trendy
        sneakers
      </p>
    </section>

    <section class="shoe-list">
      <section class="shoe-layout" ng-repeat="shoe in shoes">
        <div class="heart-icon">
          <i class="favorite-btn" ng-class="{ 'fa fa-heart': shoe.isFavorite, 'far fa-heart': !shoe.isFavorite}" ng-click="addToFavorites(shoe)" aria-hidden="true"></i>
        </div>
        <div class="left-section">
          <img
            ng-src="{{shoe.imageUrl}}"
            alt="{{shoe.name}}"
            class="portrait-img"
          />
        </div>
        <div class="right-section">
          <h3>{{shoe.name}}</h3>
          <div class="rating">
            <div class="rating-text">
              <p>Ratings: {{shoe.rating}} / 5</p>
            </div>
            <div class="rating-icon">
              <img src="/assets/images/trendy/star.png" alt="star" />
            </div>
          </div>
          <div class="shoe-images">
            <img ng-src="{{shoe.images[0]}}" alt="v0"/>
            <img ng-src="{{shoe.images[1]}}" alt="v1"/>
          </div>
          <div class="description">
            <p>{{shoe.description}}</p>
          </div>
        </div>
        <!-- right-section-->
      </section>
      <!--shoe layout-->

      <div class="disclaimer">
        <p>
          All product ratings are sourced from Nordstrom's official website.
        </p>
        <p></p>
      </div>
    </section>

    <div id="footer-placeholder"></div>

    <script src="/scripts/theme-toggle.js"></script>
    <script src="/scripts/backToTopButton.js"></script>
    <script src="/scripts/footer.js"></script>
    <script>
      angular.module('trendyShoesApp', []).controller('TrendyShoesController', function($scope) {

        $scope.shoes = [
          {
            name: 'Stuart Weitzman Leather Mesh Trainer',
            rating: 3.7,
            imageUrl: '/assets/images/trendy/Stuart Weitzman Sofia Richie Grainge.jpg',
            images: [
              '/assets/images/trendy/Stuart Weitzman Chunky Sole Sneakers.jpg',
              '/assets/images/trendy/Stuart Weitzman Chunky Sole Sneakers v1.jpg'
            ],
            description: "Sofia Richie Grainge has been seen multiple times in Stuart Weitzman's Chunky Sole Sneakers, blending her chic, casual aesthetic with these trendy shoes.The sporty design is ideal for those who want an elevated sneaker that's versatile enough for casual day wear or light, athletic activities."
          },
          {
            name: 'New Balance 530',
            rating: 4.5,
            imageUrl: '/assets/images/trendy/New Balance 530 Adut Akech Bior.jpg',
            images: [
              '/assets/images/trendy/New Balance 530.jpg',
              '/assets/images/trendy/New Balance 530 v1.jpg'
            ],
            description: 'Supermodel Adut Akech Bior has been seen sporting the New Balance 530, a sneaker that blends retro style with modern comfort, and was inspired by the 1990s running shoes. Its sleek design and high-quality materials provide optimal comfort for both athletic activities and everyday wear.'
          },
          {
            name: 'Wales Bonner X Adidas',
            rating: 4.9,
            imageUrl: '/assets/images/trendy/Wales Bonner x Adidas Gigi Hadid.jpg',
            images: [
              '/assets/images/trendy/Wales Bonner x Adidas.jpg',
              '/assets/images/trendy/Wales Bonner x Adidas v1.jpg'
            ],
            description: 'Queen of street style, Gigi Hadid has been sporting Wales Bonner X Adidas in New York. Inspired by African culture and vintage sportswear, these sneakers seamlessly blend sportiness and sophistication, making them a must-have for any fashion-forward wardrobe.'
          },
          {
            name: 'ON Cloudrift',
            rating: 4.6,
            imageUrl: '/assets/images/trendy/Loewe x On Running Cloudtilts Jennifer Lopez.jpg',
            images: [
              '/assets/images/trendy/Loewe x On Running Cloudtilts.jpg',
              '/assets/images/trendy/Loewe x On Running Cloudtilt v1.jpg'
            ],
            description: 'Jennifer Lopez, a true style icon, has embraced the Loewe X On Cloudrift sneakers. These shoes create a perfect blend of practically and elegance. Loewe X On Cloudrift sneakers offer comfort for her active lifestyle while adding a touch of luxury, showcasing the ultimate sporty chic look.'
          },
          {
            name: 'Nike V2K',
            rating: 4.5,
            imageUrl: '/assets/images/trendy/Nike V2K Kaia Gerber.jpg',
            images: [
              '/assets/images/trendy/Nike V2K.jpg',
              '/assets/images/trendy/NIKE V2K v1.jpg'
            ],
            description: 'Jennifer Lopez, a true style icon, has embraced the Loewe X On Cloudrift sneakers. These shoes create a perfect blend of practically and elegance. Loewe X On Cloudrift sneakers offer comfort for her active lifestyle while adding a touch of luxury, showcasing the ultimate sporty chic look.'
          },
        ];

        $scope.favoriteShoes = [];
        $scope.showPopup = false;

        $scope.loadFavorites = function() {
          const storedFavorites = JSON.parse(localStorage.getItem('favoriteShoes')) || [];
          $scope.favoriteShoes = $scope.cleanFavorites(storedFavorites);
          $scope.shoes.forEach(shoe => {
            shoe.isFavorite = $scope.favoriteShoes.some(fav => fav.name === shoe.name);
          });
        };

        $scope.cleanFavorites = function(favorites) {
          return favorites.map(fav => {
            const cleaned = { ...fav};
            delete cleaned.$$hashKey;
            return cleaned;
          });
        };

        $scope.saveFavorites = function() {
          const cleanedFavorites = $scope.cleanFavorites($scope.favoriteShoes);
          localStorage.setItem('favoriteShoes', JSON.stringify(cleanedFavorites));
        };

        $scope.addToFavorites = function(shoe) {
          shoe.isFavorite = !shoe.isFavorite;
          if (shoe.isFavorite) {
            if (!$scope.favoriteShoes.find(fav => fav.name === shoe.name)) {
              $scope.favoriteShoes.push({ id: shoe.id, name: shoe.name, img: shoe.images[0]});
            }
          } else {
              $scope.favoriteShoes = $scope.favoriteShoes.filter(fav => fav.name !== shoe.name);
          }

          $scope.saveFavorites();
        };

        $scope.togglePopup = function() {
          $scope.loadFavorites(); //Memuat ulang data favorit setiap kali popup dibuka
          $scope.showPopup = !$scope.showPopup;
        };

        //Menutup popup
        $scope.closePopup = function(){
          $scope.showPopup = false;
        };

        $scope.loadFavorites();
      });
    </script>
  </body>
</html>
