<div class="newsletter-section">
  <h2>Join our Upcoming Events</h2>
  <p>
    Don’t miss out! Join us and be part of exciting sports events and
    activities!
  </p>

  <form id="newsletter-form" action="/events" method="GET">
    <button type="submit" class="signup-button">JOIN NOW</button>
  </form>
  <p>Your journey starts with a single step—take it now!</p>
</div>
