<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/profile.css" />
    <link rel="stylesheet" href="/css/theme.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/navbar.css" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- TOMBOL Back to Top -->
    <button id="backToTopBtn" class="back-to-top">
      <img
        src="/assets/images/green-up.png"
        alt="Back to Top"
        id="backToTopImg"
      />
    </button>

    <nav id="navbar">
      <input type="checkbox" id="check" />

      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>

      <a href="/" id="logo"
        ><img src="/assets/images/logo.png" alt="FitSteps Logo"
      /></a>

      <div class="navbar-biasa">
        <a href="/">Home</a>
        <a href="/tips-workout">Tips & Workout</a>
        <a href="/trendy-shoes">Trendy Shoes</a>
        <a href="/health-benefits">Health Benefits</a>
        <a href="/contact-us">Contact Us</a>
        <a href="/events">Upcoming Events</a>

        <% if (loggedIn) { %>
        <a href="/profile">Profile</a>
        <a href="/logout">Logout</a>
        <% } else { %>
        <a href="/login">Login</a>
        <a href="/signup">Daftar</a>
        <% } %>

        <!-- Tombol Mode Terang/Gelap -->
        <button id="themeToggleBtn" class="theme-toggle-btn">🌙</button>
      </div>

      <a href="/" id="moto"
        ><img src="/assets/images/moto.png" alt="FitSteps Moto"
      /></a>
    </nav>

    <h1>Profile Pengguna</h1>

    <div class="profile-container">
      <p><strong>Nama:</strong> <%= namaLengkap %></p>
      <p><strong>Email:</strong> <%= email %></p>
    </div>

    <div class="profile-actions">
      <!-- Tombol untuk mengganti password -->
      <form action="/change-password" method="GET">
        <button type="submit">Ganti Password</button>
      </form>
      <!-- Tombol untuk logout -->
      <form action="/logout" method="GET">
        <button type="submit">Logout</button>
      </form>
    </div>
  </body>
</html>
